{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}{% if topic %}{{ topic|title }}{% else %}All{% endif %} Articles{% endblock %}

{% block static %}<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">{% endblock %}

{% block content %}
<div class="container-fluid">

	{% if topic %}
	<h1>{{ topic|title }} Articles</h1>
	{% else %}
	<h1>All Articles</h1>
	{% endif %}
	{% for article in articles %}
	<div class="my-5">
		<h6 class="text-muted"><strong>{{ article.created_at|date:"F j, Y"|upper }}</strong></h6>
		<h2><a class="text-dark" href="{% url 'articles:detail' topic=article.topic pk=article.pk %}">{{ article.title }}</a></h2>
		<p class="card-text">{{ article.description}}</p>
		<a class="text-primary bounce" href="{% url 'articles:detail' topic=article.topic pk=article.pk %}">Read more</a>
	</div>
	{% endfor %}
</div>
{% endblock %}